/* Navbar.css */
/* Luxurious Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A; /* Darker shade for a premium feel */
  padding: 20px 40px; /* Increased padding */
}

.nav-links a,
.nav-user a,
.logout-button {
  margin: 0 15px;
  text-decoration: none;
  color: #EAEAEA; /* Light text for contrast */
  font-family: 'Helvetica Neue', sans-serif; /* Modern, clean font */
  font-weight: 300; /* Lighter font weights are often perceived as more luxurious */
}

.logout-button {
  background-color: #4CAF50; /* Subdued, elegant green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* More pronounced rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.logout-button:hover {
  background-color: #43A047; /* Slightly darker shade on hover */
}

.username {
  margin-right: 25px;
  color: #EAEAEA;
  font-weight: 400;
}



  /* ContactUs.css */
/* Luxurious Contact Form Styles */
.contact-container {
  max-width: 500px; /* Slightly wider for a more spacious layout */
  margin: 20px auto;
  padding: 40px;
  background-color: #f0f0f0; /* Light grey for a subtle, upscale background */
  border-radius: 10px; /* Slightly larger radius for softer edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* More pronounced shadow for depth */
}

.contact-title {
  font-size: 28px; /* Larger title for emphasis */
  margin-bottom: 30px;
  color: #333; /* Darker color for contrast */
  font-family: 'Times New Roman', Times, serif; /* Classic, elegant font choice */
}

.form-group {
  margin-bottom: 20px; /* Increased spacing */
}

.form-label {
  display: block;
  font-weight: 600; /* Bold label for clear distinction */
  margin-bottom: 10px;
  color: #555; /* Dark grey for readability */
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 15px; /* More padding for ease of input */
  border: 2px solid #ccc; /* Slightly thicker border */
  border-radius: 5px; /* Soft, modern rounded corners */
  font-family: 'Arial', sans-serif; /* Consistent, readable font */
}

.form-textarea {
  resize: vertical;
}

.form-button {
  background-color: #007BFF; /* Bright, confident blue */
  color: #ffffff;
  border: none;
  padding: 15px 30px; /* More generous padding */
  border-radius: 5px; /* Consistent with input styles */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added scale effect */
}

.form-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slight enlargement on hover for interaction feedback */
}
